/*animation*/
#mario {
    position: absolute; width: 250px; top: 1400px; right: 820px;
    rotate: 270deg;
}

#animation{
position: relative;
animation: MarioAnimation 8s delay iteration-count direction fill-mode;
}

@keyframes MarioAnimation{

    0% {left: width: 250px; top: 1400px; right: 820px;}
    100% {left: width: 250px; top: 1400px; right: 1500px;}
}

#marioText {
    position: relative; width: 850px; z-index:50 ;
    opacity: 0.86;
    
}

/*block*/
#block {
    position: relative; width: 425px; bottom: 280px; right: 80px;
    opacity: 0.6;
}

#blockFiller {
    width: 10%;
}
/*block*/

/*clouds*/
#cloudBulk{
background-color: white;
display: inline-block;
position: relative;
width: 1080px;
height: 370px;
bottom: 400px;
opacity: ;
}

#cloud1{
background-color: white;
display:inline-block;
position: relative;
width: 420px;
height: 130px;
bottom: 570px;
right: 10px;
border-radius: 50%;
}

#cloud2{
background-color: white;
display:inline-block;
position: relative;
width: 420px;
height: 230px;
bottom: 540px;
right: 90px;
border-radius: 50%;
}

#cloud3{
background-color: white;
display:inline-block;
position: relative;
width: 420px;
height: 170px;
bottom: 740px;
left: 660px;
border-radius: 50%;
}

#cloud4{
    background-color: white;
    display:inline-block;
    position: relative;
    width: 230px;
    height: 150px;
    bottom: 680px;
    right: 190px;
    border-radius: 50%;
    }

    /*clouds*/

    /*gras*/
#gras {
    position: relative;
    height: 2400px;
    width: 2500px;
    top: 420px;
    right: 730px;
    background-color: #8df174;
    border-radius: 50%;
    display: inline-block;
    
    filter: blur(9px);
  }

    /*gras*/

/*wrappers*/

#wrapper1 {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: 1080px;
    height: 400px;
}

#wrapper2 {
    display: flex;
    width: 100%;
    position: fixed;
    top: 41vh;
    justify-content: left;
}
